@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff7043;
  --accent: #FBBF24;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #f9fafb;
}

html {
  scroll-behavior: smooth;
}